.gpaste-box {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
}

.gpaste-search-entry-icon {
    icon-size: 1em;
    color: #8d8f8a;
    transition-duration: 300ms;
}

.gpaste-search-entry-icon:hover {
    icon-size: 1em;
    color: #3465a4;
    transition-duration: 300ms;
}

.gpaste-search-entry-icon:active {
    icon-size: 1em;
    color: rgba(0, 0, 255, 1);
    transition-duration: 300ms;
}

.gpaste-search-entry {
    color: rgba(255, 255, 255, 0.8); /* rgb(64, 64, 64); */
    caret-color: rgba(255, 255, 255, 0.8); /* rgb(64, 64, 64); */
    font-size: 12pt;
    caret-size: 1px;
    selected-color: white;
    padding: 4px 12px;
    border: 2px solid rgba(245, 245, 245, 0.2);
    background-gradient-start: rgba(5, 5, 6, 0.1);
    background-gradient-end: rgba(254, 254, 254, 0.1);
    background-gradient-direction: vertical;
    transition-duration: 300ms;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.6);
}

.gpaste-search-entry:hover {
    transition-duration: 300ms;
    border: 2px solid #3465a4;
}

.gpaste-search-entry:focus {
    transition-duration: 300ms;
    border: 2px solid #3465a4;
}

.gpaste-list-view-box {
    spacing: 5px;
}

.gpaste-list-view-scrollbox {
    padding-top: 10px;
}

.gpaste-list-view-scrollbox StScrollView.vfade {
    -st-vfade-offset: 60px;
}

.gpaste-list-view-scrollbox StScrollView.hfade {
    -st-hfade-offset: 60px;
}

.gpaste-list-view-scrollbox StScrollView StScrollBar {
    min-width: 8px;
    min-height: 8px;
}

.gpaste-list-view-scrollbox StScrollBar StBin#trough {
    padding-left: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0px;
}

.gpaste-list-view-scrollbox StScrollBar StBin#vhandle {
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid #242424;
    border-radius: 0px;
    transition-duration: 300ms;
}

.gpaste-list-view-scrollbox StScrollBar StBin#hhandle {
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid #242424;
    border-radius: 0px;
    transition-duration: 300ms;
}

.gpaste-list-view-scrollbox StScrollBar StBin#hhandle:hover,
.gpaste-list-view-scrollbox StScrollBar StBin#vhandle:hover {
    background-color: rgba(255, 255, 255, 0.7);
    transition-duration: 300ms;
}

.gpaste-list-view-scrollbox StScrollBar StBin#hhandle:active,
.gpaste-list-view-scrollbox StScrollBar StBin#vhandle:active {
    background-color: rgba(255, 255, 255, 0.7);
    transition-duration: 300ms;
}

.gpaste-items-view-status-label {
    font-size: 30px;
    font-weight: bold;
    color: rgb(150, 150, 150);
}

.gpaste-item-box {
    padding: 5px;
    font-size: 17px;
    color: #C4C4C4;
    background-color: #545353;
    border: 1px solid #9C9C9C;
    transition-duration: 250ms;
}

.gpaste-item-box:hover {
    background-color: #3465a4;
    color: white;
    transition-duration: 20ms;
}

.gpaste-item-box:active {
    background-color: #0D4CA3;
    color: white;
    transition-duration: 50ms;
}

.gpaste-item-box:inactive {
    background-color: rgba(52, 101, 164, 0.7);
    border: 1px solid #0D4CA3;
    color: white;
    font-weight: bold;
}

.gpaste-item-box-info-label {
    padding: 2px;
    /*background-color: rgba(0, 0, 0, 0.3);*/
    /*border: 1px solid rgba(0, 0, 0, 0.4);*/
    color: white;
    font-weight: bold;
    font-size: 12px;
}

.gpaste-toggle-button {
    padding-right: 4px;
    padding-top: 2px;
    color: #C4C4C4;
    transition-duration: 200ms;
}

.gpaste-toggle-button:hover {
    color: rgba(64, 255, 64, 1);
    transition-duration: 200ms;
}

.gpaste-toggle-button:active {
    color: rgba(0, 255, 0, 1);
    transition-duration: 200ms;
}

.gpaste-button {
    padding-right: 4px;
    padding-top: 2px;
    color: #C4C4C4;
    max-width: 200px;
    font-size: 17px;
    font-weight: bold;
}

.gpaste-button:hover {
    color: #3465a4;
}

.gpaste-button:active {
    color: #0D4CA3;
}

.gpaste-buttons-bar-icon {
    icon-size: 16px;
}

.gpaste-shortcut-label {
    background-color: rgba(52, 101, 164, 0.8);
    border: 1px solid rgba(255, 255, 255, 1);
    padding: 2px 5px 2px 5px;
    font-size: 12px;
    font-weight: bold;
    color: white;
}

.gpaste-confirm-dialog-label {
    padding: 5px;
    size: 20px;
}

.gpaste-confirm-dialog-button {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 5px;
    padding-left: 5px;
    size: 20px;
    color: white;
    transition-duration: 300ms;
}

.gpaste-confirm-dialog-button:hover {
    color: #3465a4;
    transition-duration: 300ms;
}

.gpaste-histories-box {
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.gpaste-histories-item-box {
    /* nothing */
}

.gpaste-histories-item-box:hover {
    background-color: #3465a4;
    color: white;
    transition-duration: 300ms;
}

.gpaste-histories-item-box:selected {
    background-color: #0D4CA3;
    color: white;
    transition-duration: 300ms;
}

.gpaste-histories-item-button {
    font-size: 15px;
    padding: 5px;
}

.gpaste-contents-preview-entry {
    caret-color: white;
    caret-size: 2px;
    selected-color: black;
}

.gpaste-contents-preview-dialog {
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 1);
}

.gpaste-dialog-contents-view-box {
    padding: 5px;
    spacing: 10px;
    color: #C4C4C4;
    background-color: #545353;
    border: 1px solid #9C9C9C;
}

.gpaste-dialog-contents-view-box StScrollView StScrollBar {
    min-width: 8px;
    min-height: 8px;
}

.gpaste-dialog-contents-view-box StScrollBar StBin#trough {
    padding-left: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0px;
}

.gpaste-dialog-contents-view-box StScrollBar StBin#vhandle {
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid #242424;
    border-radius: 0px;
    transition-duration: 300ms;
}

.gpaste-dialog-contents-view-box StScrollBar StBin#hhandle {
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid #242424;
    border-radius: 0px;
    transition-duration: 300ms;
}

.gpaste-dialog-contents-view-box StScrollBar StBin#hhandle:hover,
.gpaste-dialog-contents-view-box StScrollBar StBin#vhandle:hover {
    background-color: rgba(255, 255, 255, 0.7);
    transition-duration: 300ms;
}

.gpaste-dialog-contents-view-box StScrollBar StBin#hhandle:active,
.gpaste-dialog-contents-view-box StScrollBar StBin#vhandle:active {
    background-color: rgba(255, 255, 255, 0.7);
    transition-duration: 300ms;
}

.gpaste-history-switcher-dialog, .gpaste-confirm-dialog-box {
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(0, 0, 0, 1);
}

.gpaste-tooltip-label {
    font-weight: bold;
    font-size: 15px;
    color: white;
}

.gpaste-tooltip-box {
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 6px;
}

.gpaste-system-status-icon {
    /* nothing */
}

.gpaste-system-status-icon:added {
    color: #00E600;
}

.gpaste-system-status-icon:removed {
    color: #FF1900;
}

.gpaste-system-status-icon:lifted {
    color: #0060E6;
}

.gpaste-system-status-icon:cleared {
    color: white;
}

.gpaste-system-status-icon:pinned {
    color: #E1FF00;
}

.gpaste-system-status-icon:unpinned {
    color: #FF00E1;
}
